@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  list-style-type: none;
}

header {
  width: 100%;
  height: 10vh;
  background-color: #104581;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: white 1px solid;
}

header .head-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head-container .logo {
  position: absolute;
}

header .head-container .logo img {
  width: 300px;
}

body {
  max-height: 100vh;
  background: #1c79e3;
}

body main {
  height: 80vh;
  position: relative;
}

body main .main-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/images/clouds.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

body main .main-container .search-container {
  margin-top: 30px;
  width: 35%;
  border: 1px white solid;
  border-radius: 15px;
  background-color: #5894da;
  position: relative;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .main-container .search-container form {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .main-container .search-container .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  position: relative;
}

body main .main-container .search-container .forms button {
  float: right;
  padding: 6px 10px;
  background: #1c79e3;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

body main .main-container .search-container .forms button:hover {
  background: #1458a5;
  border-color: #1458a5;
}

body main .main-container .search-container .choices {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .main-container .output-container {
  border: 1px white solid;
  width: 80%;
  color: white;
  height: 400px;
  margin-top: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  background-color: #5894da;
}

body main .main-container .output-container .testdiv {
  width: 30%;
  height: 30px;
  position: absolute;
  bottom: 175px;
  text-align: center;
}

body main .main-container .output-container .testdiv h5 {
  font-size: 20px;
}

body main .main-container .output-container .weather {
  border: 1px white solid;
  border-radius: 15px;
  position: absolute;
  margin-top: 30px;
  width: 250px;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.39);
}

body main .main-container .output-container .weather h5 {
  margin-left: 10px;
  font-size: 15px;
}

body main .main-container .output-container .location {
  position: absolute;
  left: 0;
  margin-left: 10px;
}

body main .main-container .output-container .info1,
body main .main-container .output-container .info2,
body main .main-container .output-container .info3 {
  border: 1px white solid;
  border-radius: 15px;
  position: absolute;
  width: 250px;
  height: 150px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.39);
  font-size: 20px;
}

body main .main-container .output-container .info1 {
  margin-left: 10px;
  left: 0;
}

body main .main-container .output-container .info3 {
  margin-right: 10px;
  right: 0;
}
/*# sourceMappingURL=main.css.map */