@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  list-style-type: none;
}

header {
  width: 100%;
  height: 10vh;
  background-color: map-get($colors, header);
  position: relative;
  flex-direction: column;
  display: flex;
  border-bottom: black 1px solid;

  .head-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      position: absolute;
      img {
        width: 300px;
      }
    }
  }
}

// Hero section

body {
  height: 100vh;
  background: map-get($colors, primary);

  main {
    height: 89vh;
    position: relative;

    .main-container {
      position: relative;
      height: 90vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url("/images/clouds.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 1300px;

      .search-container {
        margin-top: 30px;
        width: 500px;
        border: 1px white solid;
        border-radius: 10px;
        background-color: map-get($colors, cardmain);
        position: relative;
        display: flex;
        color: white;
        flex-direction: column;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.39);

        form {
          padding-left: 10px;
          display: flex;
        }
        .forms {
          display: flex;
          justify-content: center;
          padding-top: 10px;
          padding-bottom: 10px;
          position: relative;

          #mySearch {
            width: 200px;
            height: 30px;
          }

          button {
            float: right;
            padding: 6px 10px;
            background: map-get($colors, primary);
            font-size: 15px;
            border: none;
            cursor: pointer;

            &:hover {
              background: #1458a5;
              border-color: #1458a5;
            }
          }
        }
      }

      .output-container {
        // border: 1px white solid;
        width: 80%;
        color: white;
        height: 800px;
        margin-top: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.062);

        .weather-container {
          margin-top: 10px;
          position: relative;
          height: 280px;
          width: 250px;
          border-radius: 10px;
          background-color: map-get($colors, cardmain);
          text-align: center;
          color: black;
          font-size: 20px;
          font-weight: bold;

          #Day {
            font-size: 15px;
          }

          p {
            font-weight: bold;
            font-size: 20px;
          }

          .weather {
            margin-top: 10px;
            background-color: map-get($colors, cardsecondary);
            height: 200px;
            font-size: 18px;

            #tempicon {
              width: 20px;
            }
            #Weather_img {
              padding-top: 10px;
              img {
                width: 75px;
              }
            }

            #Temp {
              padding-top: 20px;
            }
          }
        }

        .location {
          position: absolute;
          left: 0;
          margin-left: 10px;
        }

        .card-container {
          .info_card1,
          .info_card2,
          .info_card3 {
            border-radius: 10px;
            position: relative;
            width: 200px;
            height: 150px;
            bottom: 0;
            margin-bottom: 10px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.39);
            font-size: 18px;
            background-color: map-get($colors, cardmain);
            color: black;
            text-align: center;
            font-weight: bold;
          }

          .info_card1 {
            margin-top: 20px;
            #card_location1 {
              height: 25px;
              padding: 5px 0;
            }

            #inner_card1 {
              background-color: map-get($colors, cardsecondary);
              height: 100px;
              font-size: 18px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .info_card2 {
            #card_location2 {
              height: 25px;
              padding: 5px 0;
            }

            #inner_card2 {
              background-color: map-get($colors, cardsecondary);
              height: 100px;
              font-size: 18px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .info_card3 {
            #card_location3 {
              height: 25px;
              padding: 5px 0;
            }

            #inner_card3 {
              background-color: map-get($colors, cardsecondary);
              height: 100px;
              font-size: 18px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 820px) {
  body {
    main {
      .main-container {
        .output-container {
          flex-direction: row;
          display: flex;
          justify-content: center;

          .weather-container {
            position: absolute;
            top: 0;
          }

          .card-container {
            position: absolute;
            bottom: 10px;
            display: flex;
            // border: 1px red solid;
            width: 100%;
            height: 200px;
            max-width: 1200px;
            justify-content: center;

            .info_card1,
            .info_card2,
            .info_card3 {
              bottom: 50px;
              margin: 0;
              position: absolute;
            }

            .info_card1 {
              left: 0;
            }
            .info_card3 {
              right: 0;
            }
          }
        }
      }
    }
  }
}
